<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link data-require="bootstrap.css" data-semver="3.3.1" rel="stylesheet"  src="../lib/css/bootstrap.css" />

    <script data-require="jquery@2.1.3" data-semver="2.1.3" src="../lib/js/jquery-2.1.3.min.js"></script>
    <script data-require="three.js" data-semver="0.0.0r67" src="../lib/js/three.min.js"></script>
    <script data-require="angular.min.js" src="../lib/js/angular.min.js"></script>
    <script data-require="bootstrap.js" src="../lib/js/bootstrap.js"></script>


    <script data-require="treeViewJS.js" src="../lib/js/treeViewJS.js"></script>
</head>
<body>
   <p>text</p>
</body>
</html>