<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="row">
<div class="col-md-12">
  <div class="row">
  <div class="col-md-4">
    <div class="row" style="padding-bottom:5px; ">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control searchbox" placeholder="Ara" id="searchText">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Ara</button>
      </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
    <div class="row">

    </div><!-- /.row -->

  </div>
    <div class="col-md-8">
      asdasdasdasd
    </div>
  </div>
</div>
</div>
</body>
</html>

<link data-require="siteCSS.css"  rel="stylesheet"  href="../styles/siteCss.css" />
