<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="row">
<div class="col-md-12">
  <div class="row">
  <div class="col-md-2">
    <div class="row" style="padding-bottom:5px; ">
    <div class="col-lg-12">
      <div class="input-group">
        <input type="text" class="form-control searchbox" placeholder="Ara" id="searchText">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Ara</button>
      </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
    <div class="row">

    </div><!-- /.row -->

  </div>
    <div class="col-md-10" style="padding-bottom: 10px;">
     <div id="rs-doc-content" style="border: solid;border-color: darkgrey;border-width: thin;border-radius:4px;padding:5px;">
       Uzay operası, bilimkurgu'nun çoğunlukla uzayda geçen, heyecan verici maceraların yer aldığı ve romantizmin vurgulandığı bir alt türüdür. Uzay operasının muhtemelen en önemli özelliği karakterlerleri, mücadeleleri, güçleri ve temaları olağanüstü niteliğe taşımasıdır. İlk uzay operaları 1930'lu ve 1940'lı yıllarda ucuz dergilerde yayımlanıyordu. 1970'lerden önce uzay operası, kalitesiz ve ucuz bir bilimkurgu filmini ifade diyordu. Ancak George Lucas'ın çektiği Yıldız Savaşları: Bölüm IV - Yeni Bir Umut 1977 yılında gösterime girdiğinde hem eleştirel hem de finansal açıdan çok başarılı oldu ve türe olan olumsuz bakış açısını değiştirdi.
     </div>
    </div>
  </div>
</div>
</div>
</body>
</html>

<link data-require="siteCSS.css"  rel="stylesheet"  href="../styles/siteCss.css" />
